fastapi
uvicorn
pandas
numpy<2.4
numba<0.63
scikit-learn
xgboost
lightgbm
catboost
joblib
matplotlib
seaborn
plotly
ydata-profiling
pycaret
openpyxl
ipykernel
structlog
langchain
langchain_community
langchain_classic
langchain_google_genai
langchain_groq
python-multipart
langgraph
python-dotenv

-e .
